@font-face {
  font-family: 'bbva-regular';
  src: url("fonts/bbvaweb-book.eot");
  src: url("fonts/bbvaweb-book.eot?#iefix") format("embedded-opentype"), url("fonts/bbvaweb-book.woff") format("woff"), url("fonts/bbvaweb-book.ttf") format("truetype"), url("fonts/bbvaweb-book.svg#StagSansBook") format("svg");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
@font-face {
  font-family: 'bbva-bold';
  src: url("fonts/bbvaweb-semibold.eot");
  src: url("fonts/bbvaweb-semibold.eot?#iefix") format("embedded-opentype"), url("fonts/bbvaweb-semibold.woff") format("woff"), url("fonts/bbvaweb-semibold.ttf") format("truetype"), url("fonts/bbvaweb-semibold.svg#StagSansBook") format("svg");
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}
header.index{
  background: #1e2832;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  z-index: 100;
}
nav.nav-menu{
  float: right;
  line-height: 8rem;
}
.index .nav-menu a{
  margin-right: 20px;
  font-size: 16px;
  color: #FFF;
  font-family: 'bbva-regular';
}
.carousel-inner{
  background-color: #000;
}
.index .nav-menu a:hover{
  color: #f2f5f7;
  text-decoration: none;
}
.index .nav-menu span{
  margin-right: 10px;
  color: #0dc0c0;
  font-size: 20px;
}
.index .nav-menu span:hover{
  color: #00fff8;
}
.carousel-inner .item img{
  width: 100%;
  opacity: .5;
}
.index-h1{
  font-size: 36px;
  font-family: 'bbva-regular';
  margin: 50px 0px 50px 0px;
  color: #000;
}
.index-p{
  font-family: 'bbva-regular';
  font-size: 18px;
  margin: 50px 0px 50px 0px;
  color: #000;
}
.index-paquetes .space{
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #CCC;
  height: 370px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.index-paquetes label.agua{
  background-color: #0dc0c0;
  padding: 5px 10px 5px 10px;
  color: #FFF;
  margin-top: -5px;
}
.index-paquetes h2.agua{
  color: #0dc0c0;
  font-size: 15px;
}
.index-paquetes p.parrafo{
  color: #000;
  font-size: 15px;
}
.index-paquetes label.azul{
  background-color: #29abe2;
  padding: 5px 10px 5px 10px;
  color: #FFF;
  margin-top: -5px;
}
.index-paquetes h2.azul{
  color: #29abe2;
  font-size: 15px;
}
.index-paquetes label.verde{
  background-color: #428b12;
  padding: 5px 10px 5px 10px;
  color: #FFF;
  margin-top: -5px;
}
.index-paquetes h2.verde{
  color: #428b12;
  font-size: 15px;
}
.index-paquetes label.rojo{
  background-color: #81003d;
  padding: 5px 10px 5px 10px;
  color: #FFF;
  margin-top: -5px;
}
.index-paquetes h2.rojo{
  color: #81003d;
  font-size: 15px;
}
.indexH1-fondo-negro{
  font-size: 36px;
  font-family: 'bbva-regular';
  margin: 50px 0px 50px 0px;
  color: #FFF;
}
.indexP-fondo-negro{
  font-family: 'bbva-regular';
  font-size: 18px;
  margin: 50px 0px 50px 0px;
  color: #FFF;
}
.index-mensaje{
  margin: 20px 0px 50px 0px;
}
.boton-index{
  color: #009494;
  font-size: 17px;
}
.faq h1{
  margin-top: 150px;
  margin-bottom: 60px;
  text-align: center;
}
.row.faq h2{
  text-align: left;
}
.seccion{
  padding-bottom: 5rem;
  padding-top: 5rem;
}
.space:not(:last-child) {
    margin-right: 2rem;
}
.space img{
  display: initial;
}
.form-inline .form-control{
  width: 100% !important;
  margin-bottom: 15px;
}
.slide-content {
    bottom: 14rem;
    color: #fff;
    font-size: 1.85rem;
    left: 50%;
    margin-left: -30%;
    position: absolute;
    width: 60%;
}
.main-menu li {
    display: inline-block;
}
.main-menu {
    bottom: 7rem;
    left: 50%;
    list-style: none;
    margin: 0 0 0 -17.5rem;
    padding: 0;
    position: absolute;
}
.main-menu .button {
    background: rgba(0,255,248,0.4);
    border-radius: .2rem;
    color: #fff;
    display: block;
    font-size: 1.2rem;
    line-height: 4rem;
    margin: 0 1.5rem;
    width: 14.5rem;
}
.btn-terminos{
  width: 50%;
  color: #FFF;
  background-color: #0dc0c0;
}
.aTerminos{
  font-family: 'bbva-regular';
  font-size: 18px;
  margin: 50px 0px 50px 0px;
  color: #000;
}
.aTerminos:hover{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.pTerminos{
  font-family: 'bbva-regular';
  font-size: 18px;
  margin: 50px 0px 50px 0px;
  color: #000;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f2f5f7;
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 0px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
a{
  text-decoration: none !important;
}
span.glyphicon.glyphicon-chevron-down{
  color: #0dc0c0;
}
span.glyphicon.glyphicon-chevron-down:hover{
  color: #00fff8;
}
span.glyphicon.glyphicon-chevron-up{
  color: #0dc0c0;
}
span.glyphicon.glyphicon-chevron-up:hover{
  color: #00fff8;
}
